/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'StarJediOutlineRegular';
  src: url("../fonts/starjout-webfont.eot");
  src: url("../fonts/starjout-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/starjout-webfont.woff") format("woff"), url("../fonts/starjout-webfont.ttf") format("truetype"), url("../fonts/starjout-webfont.svg#StarJediOutlineRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 25, sass/screen.scss */
html {
  background: black;
}

/* line 28, sass/screen.scss */
body {
  font-family: sans-serif;
}

/* line 31, sass/screen.scss */
.container {
  width: 600;
  margin: auto;
}

/* line 36, sass/screen.scss */
h1 {
  font-size: 3em;
  color: white;
  font-family: "StarJediOutlineRegular";
  text-transform: uppercase;
  color: yellow;
  line-height: 0.8em;
  margin-bottom: 1em;
}

/* line 47, sass/screen.scss */
ul {
  margin-bottom: 3em;
}

/* line 50, sass/screen.scss */
li {
  padding: 0.25em;
  background: green;
  color: white;
}
/* line 55, sass/screen.scss */
li.caido {
  background: #ae1e1e;
}
/* line 58, sass/screen.scss */
li.defectuoso {
  color: black;
  background: #f7e143;
}
/* line 62, sass/screen.scss */
li span {
  display: inline-block;
}

/* line 66, sass/screen.scss */
.ultima {
  color: white;
  margin-bottom: 1em;
}

/* line 71, sass/screen.scss */
#alertas span:first-child {
  width: 5em;
}
