<html>
<head>
	<title>Alertas de la Estrella de la Muerte de Django</title>
</head>
<body>
	<h1>Alertas de la Estrella de la Muerte de Django</h1>
	<div id="alerta">

	</div>
	<ul id="sensores">
		{#% for indicador in sensores.object_list %#}
		{% for indicador in sensores.object_list %}
		<li>
			<span class="fecha">{{indicador.fecha_hora|date:"d-M-Y H:i:s"}}</span>
			<span>{{indicador.num_sensor}}</span>
			<span>{{indicador.valor}}</span>
			<span>{{indicador.problema}}</span>
		</li>
		{% endfor %}
	</ul>
	<ul id="pages">
		{% for page in sensores.paginator.num_pages %}
		<li></li>
		{% endfor %}
	</ul>
	<!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
	script type="" src="{{STATIC_URL}}js/alertas.js"></script
-->
</body>
</html>