<html>
<head>
	<title>Alertas de la Estrella de la Muerte de Django</title>
	<link href="{{STATIC_URL}}css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="deathStar">
		<div class="row1"></div>
		<div class="row2"></div>
		<div class="row3"></div>
		<div class="row4"></div>
	</div>
	<div class="container">
		<h1>Estrella de la Muerte de Django</h1>
		<div id="alerta" class="{{alerta}}">

		</div>
		<ul id="alertas">
		</ul>
		<p class="ultima">
			Última actualización: <span id="fecha"></span>
		</p>
		<ul id="sensores">
		</ul>
	</div>
	<script src="{{STATIC_URL}}js/mootools.all.js"></script> 
	<script type="" src="{{STATIC_URL}}js/alertas.js"></script>
</body>
</html>