/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3"; 


$caido: rgba(255, 40, 31, 0.51);
$defectuoso: #F7E143;


@font-face {
    font-family: 'StarJediOutlineRegular';
    src: url('../fonts/sfdistantgalaxyoutline-webfont.eot');
    src: url('../fonts/sfdistantgalaxyoutline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfdistantgalaxyoutline-webfont.woff') format('woff'),
         url('../fonts/sfdistantgalaxyoutline-webfont.ttf') format('truetype'),
         url('../fonts/sfdistantgalaxyoutline-webfont.svg#StarJediOutlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html{
	background: url(../img/stars.jpg) top left repeat;
}
body{
	font-family: sans-serif;
}

.nave{
	background: url(../img/nave.png) top left no-repeat;
}

#deathStar{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 20px;
	left: 20px;
	background: url(../img/star/death_star.png) top left no-repeat;
}
.row0,
.row1,
.row2,
.row3{
	height: 50px;
}
.row0.danger{
	background: url(../img/star/death_1.png)
}
.row1.danger{
	background: url(../img/star/death_2.png)
}
.row2.danger{
	background: url(../img/star/death_3.png)
}
.row3.danger{
	background: url(../img/star/death_4.png)
}
.container{
	width: 600px;
	margin: auto;
}

h1{
	font-size: 3em;
	color: white;
	font-family: "StarJediOutlineRegular";
	text-transform: uppercase;
	color: yellow;
	line-height: 0.8em;
	margin: 1em 0;
}


ul{
	margin-bottom: 3em;
	overflow: hidden;
}
li{
	padding: 0.25em;
	background: rgba(5, 202, 5, 0.54);
	color: white;
	float: left;
	width: 22%;
	margin: 0.2em;
	@include border-radius(5px);

	&.t3{
		background: $caido;
	}
	&.t4{
		color: black;
		background: $defectuoso;
	}
	span{
		display: block;
		text-align: left;
		padding: 0.2em;
	}
	button{
		display: block;
		width: 100%;
		background: rgba(0, 0, 0, 0.38);
		border: none;
		font-weight: bold;
		font-size: 0.8em;
		color: rgba(255, 255, 255, 0.89);
		padding: 0.3em;
		cursor: pointer;
		@include border-radius(8px);
		@include box-shadow(2px 2px 1px rgba(0,0,0,0.5));
		background-image: -webkit-linear-gradient(20% rgba(0,0,0,0.5), rgba(0,0,0,1));
	}
}
.ultima{
	color: white;
	margin-bottom: 1em;
}
#alertas{
	span:first-child{
		width: 5em;
	}
	span:nth-child(2){
		width: 6em;
	}
}
#sensores{
	span:first-child{
		width: 5em;
	}
	span:nth-child(2){
	}
}
